<h1>Articls Listing</h1>
<!-- bài tập về nhà viết tiếp nội dung chi tiết html bằng bootstrap -->
<% @articles.each do |article| %>
  <div class="py-4">
    <%= article.title %>
    <a href="<%= detail_articles_path(article.id) %>">Show more</a>
  </div>
<% end %>